<!-- Sub banner start -->
<div class="sub-banner">
  <div class="overlay">
      <div class="container">
          <div class="breadcrumb-area">
              <div class="top">
                  <h1>Contact Us</h1>
              </div>
              <ul class="breadcrumbs">
                  <li><a [routerLink] = "['/Home']">Home</a></li>
                  <li class="active">Contact Us</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub Banner end -->

<!-- Contact body start -->
<div class="contact-body">
  <div class="container">
      <!-- Main title -->
      <div class="main-title">
          <h1>Contact with us</h1>
          <div class="border">
              <div class="border-inner"></div>
          </div>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.</p>
      </div>
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
              <!-- Contact form start -->
              <div class="contact-form">
                  <form id="contact_form" action="https://storage.googleapis.com/themeforest-real-house/index.html" method="POST" enctype="multipart/form-data">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group fullname">
                                  <input type="text" name="full-name" class="input-text" placeholder="Full Name">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group enter-email">
                                  <input type="email" name="email" class="input-text" placeholder="Enter email">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group subject">
                                  <input type="text" name="subject" class="input-text" placeholder="Subject">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group number">
                                  <input type="text" name="phone" class="input-text" placeholder="Phone Number">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                              <div class="form-group message">
                                  <textarea class="input-text" name="message" placeholder="Write message"></textarea>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                              <div class="form-group send-btn">
                                  <button type="submit" class="button-md button-theme">Send Message</button>
                              </div>
                          </div>
                      </div>
                  </form>     
              </div>
              <!-- Contact form end -->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <!-- Contact details start -->
              <div class="contact-details">
                  <div class="media">
                      <div class="media-left">
                          <i class="fa fa-map-marker"></i>
                      </div>
                      <div class="media-body">
                          <h4>Office Address</h4>
                          <p>Lorem Ipsum is simply dummy text printing and type setting industry 5562. po alpu</p>
                      </div>
                  </div>
                  <div class="media">
                      <div class="media-left">
                          <i class="fa fa-phone"></i>
                      </div>
                      <div class="media-body">
                          <h4>Phone Number</h4>
                          <p>
                              <a href="tel:0477-0477-8556-552">office: 0477 8556 552</a>
                          </p>
                          <p>
                              <a href="tel:+55-417-634-7071">Mobile: +55 417 634 7071</a>
                          </p>
                      </div>
                  </div>
                  <div class="media">
                      <div class="media-left">
                          <i class="fa fa-envelope"></i>
                      </div>
                      <div class="media-body">
                          <h4>Email Address</h4>
                          <p>
                              <a href="mailto:sales@TeamTiger.com">sales@TeamTiger.com</a>
                          </p>
                          <p>
                              <a href="www.example.com" target="_blank">www.example.com</a>
                          </p>
                      </div>
                  </div>
              </div>
              <!-- Contact details end -->
          </div>
      </div>
  </div>
</div>
<!-- Contact body end -->

<!-- Google map start -->
<div class="section">
  <div class="map">
      <div id="map" class="contact-map"></div>
  </div>
</div>
<!-- Google map end -->

<!-- Footer start -->
<footer class="main-footer clearfix">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <a href="index.html" class="footer-logo">
                      <img src="./assets/img/House-Lannister-Main-Shield.png" alt="footer-logo">
                  </a>
                  <div class="clearfix"></div>
                  <!-- paragraph -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <h2 class="title">Address</h2>
                  <!-- Contact Info -->
                  <ul class="contact-info">
                      <li class="clearfix">
                          <i class="fa fa-map-marker fa-lg"></i>
                          <label>F-15 Kalkaji Delhi</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-mobile fa-lg"></i>
                          <label>+55 417-634-7071</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-envelope-o fa-lg"></i>
                          <label>
                              <a href="mailto:sales@TeamTiger.com">sales@TeamTiger.com</a>
                          </label>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <h2 class="title">Helpful Links</h2>
                  <ul class="links">
                        <li>
                                <a  [routerLink] = "['/Login']">Login</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/Signup']">Register</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Signup']">Sign Up</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Myprofile']">My Account</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Submit']">Add Property</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/Pricing']">Pricing</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/About']">About</a>
                            </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <div class="newsletter">
                      <h2 class="title">Newsletter</h2>
                      <div class="f-text">
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>

                      <form action="#" method="post">
                          <p>
                              <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                          </p>

                          <p>
                              <button type="submit" class="button-sm button-theme btn-block">Signup</button>

                          </p>
                      </form>
                      <!-- / Newsletter Sign-Up -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer end -->

<!-- Sub footer start -->
<div class="sub-footer">
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copy-right">
              © 2017 <a href="#"> </a>‐ All Rights Reserved
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="social-list">
              <ul class="clearfix">
                  <li class="twitter">
                      <a href="../../twitter.com/mabuc.html" target="_blank">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li class="facebook">
                      <a href="../../www.facebook.com/mabuc.html" target="_blank">
                          <i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="youtube">
                      <a href="../../youtube.com/index.html" target="_blank">
                          <i class="fa fa-youtube"></i>
                      </a>
                  </li>
                  <li class="linkedin">
                      <a href="../../linkedin.com/index.html" target="_blank">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="pinterest">
                      <a href="../../www.pinterest.com/mabuc" target="_blank">
                          <i class="fa fa-pinterest"></i>
                      </a>
                  </li>
                  <li class="dribbble">
                      <a href="../../dribbble.com/mabuc.html" target="_blank">
                          <i class="fa fa-dribbble"></i>
                      </a>
                  </li>
                  <li class="gplus">
                      <a href="../../google.com/index.html" target="_blank">
                          <i class="fa fa-google-plus"></i>
                      </a>
                  </li>
                  <li class="instagram">
                      <a href="../../www.instagram.com/envato/index.html" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li class="rss">
                      <a href="../../feedburner.com/index.html" target="_blank">
                          <i class="fa fa-rss"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub footer end -->