<!-- Sub banner start -->
<div class="sub-banner">
  <div class="overlay">
      <div class="container">
          <div class="breadcrumb-area">
              <div class="top">
                  <h1>Property List</h1>
              </div>
              <ul class="breadcrumbs">
                  <li><a [routerLink] = "['/Home']">Home</a></li>
                  <li class="active">Property Listing</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub Banner end -->
<!-- Properties section body start -->
<div class="properties-section-body content-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-10  col-lg-offset-1">
              <!-- Option bar start -->
              
             <!-- Option bar end -->
              
              <!-- Listing properties start -->
              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-3.jpg" alt="properties-3" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-f-left">
                          <a href="properties-details.html">Featured</a>
                      </span>
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Rohan Gautam
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>

              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-2.jpg" alt="properties-2" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>

              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-1.jpg" alt="properties-1" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>

              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-4.jpg" alt="properties-4" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-f-left">
                          <a href="properties-details.html">Featured</a>
                      </span>
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>
              
              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-3.jpg" alt="properties-5" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>

              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-2.jpg" alt="properties-6" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>

              <div class="listing-properties-box wow fadeInUp delay-03s" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 listing-propertie-theme">
                      <img src="./assets/img/properties/properties-1.jpg" alt="properties-7" class="img-responsive">
                      <!-- Tag -->
                      <span class="tag-s-right">
                          <a href="properties-details.html">For Sale</a>
                      </span>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 detail">
                      <!-- Header -->
                      <header class="clearfix">
                          <div class="pull-left">
                              <h1 class="title">
                                  <a href="properties-details.html">Property 5</a>
                              </h1>
                              <h3 class="location">
                                  <a href="#">
                                      <i class="fa fa-map-marker"></i>20-21 South delhi
                                  </a>
                              </h3>
                          </div>
                          <!-- Btn -->
                          <div class="pull-right">
                              <a href="properties-details.html" class="button-sm button-theme">Details</a>
                          </div>
                      </header>
                      <!-- Facilities list start -->
                      <ul class="facilities-list clearfix">
                          <li class="bordered-right">
                              <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                              <span>4800 sq ft</span>
                          </li>
                          <li>
                              <i class="flaticon-bed"></i>
                              <span>2 Bedroom</span>
                          </li>
                          <li>
                              <i class="flaticon-monitor"></i>
                              <span>1 TV Lounge</span>
                          </li>
                          <li>
                              <i class="flaticon-holidays"></i>
                              <span>3 Bathroom </span>
                          </li>
                          <li>
                              <i class="flaticon-vehicle"></i>
                              <span>1 Garage</span>
                          </li>
                          <li>
                              <i class="flaticon-building"></i>
                              <span>3 Balcony</span>
                          </li>
                      </ul>
                      <!-- footer -->
                      <div class="footer">
                          <a href="#">
                              <i class="fa fa-user"></i> Jhon Doe
                          </a>
                          <span>
                              <i class="fa fa-calendar-o"></i> 1 day ago
                          </span>
                      </div>
                  </div>
              </div>
              <!-- Listing properties end -->

              <!-- Page navigation start -->
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li>
                          <a href="#" aria-label="Previous">
                              <span aria-hidden="true">Previous</span>
                          </a>
                      </li>
                      <li><a [routerLink] = "['/List']">1</a></li>
                      <li><a [routerLink] = "['/List2']">2</a></li>
                      <li><a [routerLink] = "['/List3']">3</a></li>
                      <li><a [routerLink] = "['/List4']">4</a></li>
                      <li class="active"><a href="#">5</a></li>
                      <li>
                          <a href="#" aria-label="Next">
                              <span aria-hidden="true">Next</span>
                          </a>
                      </li>
                  </ul>
              </nav>
              <!-- Page navigation end-->
          </div>
      </div>
  </div>
</div>
<!-- Properties section body end -->

<!-- Partners block start -->
<div class="partners-block">
  <div class="container">

      <div class="container">
          <div class="col-md-12">
              <div class="carousel our-partners slide" id="ourPartners">
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <a href="#">
                                  <img src="./assets/img/brand/audiojungle.png" alt="audiojungle">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <a href="#">
                                  <img src="./assets/img/brand/themeforest.png" alt="themeforest">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <a href="#">
                                  <img src="./assets/img/brand/tuts.png" alt="tuts">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <a href="#">
                                  <img src="./assets/img/brand/graphicriver.png" alt="graphicriver">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <a href="#">
                                  <img src="./assets/img/brand/codecanyon.png" alt="codecanyon">
                              </a>
                          </div>
                      </div>
                  </div>
                  <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                  <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Partners block end -->

<!-- Footer start -->
<footer class="main-footer clearfix"> 
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <a href="index.html" class="footer-logo">
                      <img src="./assets/img/House-Lannister-Main-Shield.png" alt="footer-logo">
                  </a>
                  <div class="clearfix"></div>
                  <!-- paragraph -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <h2 class="title">Address</h2>
                  <!-- Contact Info -->
                  <ul class="contact-info">
                      <li class="clearfix">
                          <i class="fa fa-map-marker fa-lg"></i>
                          <label>F-15 Kalkaji Delhi</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-mobile fa-lg"></i>
                          <label>+55 417-634-7071</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-envelope-o fa-lg"></i>
                          <label>
                              <a href="mailto:sales@TeamTiger.com">sales@TeamTiger.com</a>
                          </label>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <h2 class="title">Helpful Links</h2>
                  <ul class="links">
                      <li>
                          <a  [routerLink] = "['/Login']">Login</a>
                      </li>
                      <li>
                          <a [routerLink] = "['/Signup']">Register</a>
                      </li>
                      <li>
                          <a  [routerLink] = "['/Signup']">Sign Up</a>
                      </li>
                      <li>
                          <a  [routerLink] = "['/Myprofile']">My Account</a>
                      </li>
                      <li>
                          <a  [routerLink] = "['/Submit']">Add Property</a>
                      </li>
                      <li>
                          <a [routerLink] = "['/Pricing']">Pricing</a>
                      </li>
                      <li>
                          <a [routerLink] = "['/About']">About</a>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <div class="newsletter">
                      <h2 class="title">Newsletter</h2>
                      <div class="f-text">
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>

                      <form action="#" method="post">
                          <p>
                              <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                          </p>

                          <p>
                              <button type="submit" class="button-sm button-theme btn-block">Signup</button>

                          </p>
                      </form>
                      <!-- / Newsletter Sign-Up -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer end -->

<!-- Sub footer start -->
<div class="sub-footer">
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copy-right">
              © 2017 <a href="#"> </a>‐ All Rights Reserved
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="social-list">
              <ul class="clearfix">
                  <li class="twitter">
                      <a href="../../twitter.com/mabuc.html" target="_blank">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li class="facebook">
                      <a href="../../www.facebook.com/mabuc.html" target="_blank">
                          <i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="youtube">
                      <a href="../../youtube.com/index.html" target="_blank">
                          <i class="fa fa-youtube"></i>
                      </a>
                  </li>
                  <li class="linkedin">
                      <a href="../../linkedin.com/index.html" target="_blank">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="pinterest">
                      <a href="../../www.pinterest.com/mabuc" target="_blank">
                          <i class="fa fa-pinterest"></i>
                      </a>
                  </li>
                  <li class="dribbble">
                      <a href="../../dribbble.com/mabuc.html" target="_blank">
                          <i class="fa fa-dribbble"></i>
                      </a>
                  </li>
                  <li class="gplus">
                      <a href="../../google.com/index.html" target="_blank">
                          <i class="fa fa-google-plus"></i>
                      </a>
                  </li>
                  <li class="instagram">
                      <a href="../../www.instagram.com/envato/index.html" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li class="rss">
                      <a href="../../feedburner.com/index.html" target="_blank">
                          <i class="fa fa-rss"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub footer end -->