<!-- Sub banner start -->
<div class="sub-banner">
  <div class="overlay">
      <div class="container">
          <div class="breadcrumb-area">
              <div class="top">
                  <h1>Pricing Tables</h1>
              </div>
              <ul class="breadcrumbs">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Pricing Tables</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub Banner end -->

<!-- Pricing Tables start -->
<div class="pricing-tables content-area">
  <div class="container">
      <!-- Heading -->
      <h1 class="heading">Pricing Tables</h1>
      <div class="pricing-container margin-top-40">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad wow fadeInLeft delay-03s" >
              <div class="plan">
                  <div class="price-header">
                      <h3>Basic</h3>
                      <h1>Free</h1>
                      <p>Free of charge one standard listing active for 30 days</p>
                  </div>

                  <div class="plan-features">
                      <ul>
                          <li>One Listing <span><i class="fa fa-check"></i></span></li>
                          <li>30 Days Availability <span><i class="fa fa-check"></i></span></li>
                          <li>Standard Listing <span><i class="fa fa-check"></i></span></li>
                          <li>Limited Support <span><i class="fa fa-check"></i></span></li>
                      </ul>
                      <div class="clearfix"></div>
                      <button class="button-md button-theme" (click)="start()">Get Started</button>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad wow fadeInUp delay-03s" >
              <div class="plan featured">
                  <div class="listing-badges">
                      <span class="featured">Featured</span>
                  </div>

                  <div class="price-header">
                      <h3>Professional</h3>
                      <h1>₹ 999</h1>
                      <p>Monthly subscription for unlimited listings and availability</p>
                  </div>
                  <div class="plan-features">
                      <ul>
                          <li>One Time Fee <span><i class="fa fa-check"></i></span></li>
                          <li>One Listing <span><i class="fa fa-check"></i></span></li>
                          <li>90 Days Availability <span><i class="fa fa-check"></i></span></li>
                          <li>Featured In Search Results <span><i class="fa fa-check"></i></span></li>
                          <li>24/7 Support <span><i class="fa fa-check"></i></span></li>
                      </ul>
                      <button class="button-md button-theme" (click)="start()">Get Started</button>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-pad wow fadeInRight delay-03s" >
              <div class="plan">
                  <div class="price-header">
                      <h3>Extended</h3>
                      <h1>₹ 599</h1>
                      <p>One time fee for one listing, highlighted in the search results</p>
                  </div>

                  <div class="plan-features">
                      <ul>
                          <li>Unlimited Listings<span><i class="fa fa-check"></i></span></li>
                          <li>Unlimited Availability <span><i class="fa fa-check"></i></span></li>
                          <li>Unlimited Availability <span><i class="fa fa-check"></i></span></li>
                          <li>Unlimited Availability <span><i class="fa fa-check"></i></span></li>
                      </ul>
                      <div class="clearfix"></div>
                      <button class="button-md button-theme" (click)="start()">Get Started</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Pricing Tables end -->


<!-- Footer start -->
<footer class="main-footer clearfix">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <a href="index.html" class="footer-logo">
                      <img src="./assets/img/House-Lannister-Main-Shield.png" alt="footer-logo">
                  </a>
                  <div class="clearfix"></div>
                  <!-- paragraph -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item">
              <div class="footer-item-content">
                  <h2 class="title">Address</h2>
                  <!-- Contact Info -->
                  <ul class="contact-info">
                      <li class="clearfix">
                          <i class="fa fa-map-marker fa-lg"></i>
                          <label>F-15 Kalkaji Delhi</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-mobile fa-lg"></i>
                          <label>+55 417-634-7071</label>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-envelope-o fa-lg"></i>
                          <label>
                              <a href="mailto:sales@TeamTiger.com">sales@TeamTiger.com</a>
                          </label>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <h2 class="title">Helpful Links</h2>
                  <ul class="links">
                        <li>
                                <a  [routerLink] = "['/Login']">Login</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/Signup']">Register</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Signup']">Sign Up</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Myprofile']">My Account</a>
                            </li>
                            <li>
                                <a  [routerLink] = "['/Submit']">Add Property</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/Pricing']">Pricing</a>
                            </li>
                            <li>
                                <a [routerLink] = "['/About']">About</a>
                            </li>
                    <li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 footer-item clearfix">
              <div class="footer-item-content">
                  <div class="newsletter">
                      <h2 class="title">Newsletter</h2>
                      <div class="f-text">
                          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>

                      <form action="#" method="post">
                          <p>
                              <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                          </p>

                          <p>
                              <button type="submit" class="button-sm button-theme btn-block">Signup</button>

                          </p>
                      </form>
                      <!-- / Newsletter Sign-Up -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer end -->

<!-- Sub footer start -->
<div class="sub-footer">
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copy-right">
              © 2017 <a href="#"> </a>‐ All Rights Reserved
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="social-list">
              <ul class="clearfix">
                  <li class="twitter">
                      <a href="../../twitter.com/mabuc.html" target="_blank">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li class="facebook">
                      <a href="../../www.facebook.com/mabuc.html" target="_blank">
                          <i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="youtube">
                      <a href="../../youtube.com/index.html" target="_blank">
                          <i class="fa fa-youtube"></i>
                      </a>
                  </li>
                  <li class="linkedin">
                      <a href="../../linkedin.com/index.html" target="_blank">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="pinterest">
                      <a href="../../www.pinterest.com/mabuc" target="_blank">
                          <i class="fa fa-pinterest"></i>
                      </a>
                  </li>
                  <li class="dribbble">
                      <a href="../../dribbble.com/mabuc.html" target="_blank">
                          <i class="fa fa-dribbble"></i>
                      </a>
                  </li>
                  <li class="gplus">
                      <a href="../../google.com/index.html" target="_blank">
                          <i class="fa fa-google-plus"></i>
                      </a>
                  </li>
                  <li class="instagram">
                      <a href="../../www.instagram.com/envato/index.html" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li class="rss">
                      <a href="../../feedburner.com/index.html" target="_blank">
                          <i class="fa fa-rss"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- Sub footer end -->