 <!-- My address start-->
                <div class="my-address">
                    <h1>My Account</h1>

                    <form action="https://storage.googleapis.com/themeforest-real-house/index.html" #f="ngForm">
                        
                        <div class="form-group">
                            <label>Id</label>
                            <input type="text" class="input-text" name="id" [ngModel]="sign.id" disabled>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="input-text" name="username" [ngModel]="sign.username" disabled>
                        </div>
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" class="input-text" name="fullname" [ngModel]="sign.fullname" >
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="input-text" name="phone" [ngModel]="sign.phone">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="input-text" name="password" [ngModel]="sign.password" disabled>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" class="input-text" name="stat" [ngModel]="sign.stat" disabled>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="input-text" name="email" [ngModel]="sign.email" >
                        </div>
                        
                        <button (click)="change(f.value)">Save Changes</button>
                    </form>
                </div>
                <!-- My address end -->
          
           
           
       