<div class="sub-banner">
      <div class="overlay">
          <div class="container">
              <div class="breadcrumb-area">
                  <div class="top">
                      <h1>My Properties</h1>
                  </div>
                  <ul class="breadcrumbs">
                      <li><a [routerLink]="['/Home']">Home</a></li>
                      <li class="active">My Properties</li>
                  </ul>
              </div>
          </div>
      </div>
    </div>

    <div class="my-propertiess">
      <div class="container">
          <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-12">
                              <!-- Heading -->
                              <h1 class="heading">My Properties Listings</h1>
                              <!-- My propertiess box start -->
                              <div class="my-properties-box wow fadeInUp delay-03s clearfix">
                                          <div *ngFor="let i of iproperty2">
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-pad my-propertie-theme">
                                      <img src="" alt="myproperty" class="img-responsive">
                                  </div> -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-pad">
                                        
                                      <div class="detail">
                                          <!-- Header -->
                                          <header class="clearfix">
                                                      <div class="pull-right">
                                                                  <a [routerLink]="['/propertyDetails',i.propId]" class="button-sm button-theme">Details</a><br>
                                                                  
                                                              </div>
                                              <div class="pull-left">
                                                  <h1 class="title">
                                                      <a [routerLink]="['/details']">{{i?.title}}</a>
                                                  </h1>
                                                  <h4>
                                                    <strong>Property Status :</strong>{{i?.propertyStat}}
                                                  </h4>
                                                  <h5><strong>{{i?.propStatus}}</strong><br></h5>
                                                  
                                                  <h3 class="location">
                                                          <i class="fa fa-map-marker"></i>{{i?.address}}
                                                  </h3>
                                              </div>
                                              <!-- Btn -->
                                              
                                         </header>
                                         <hr>
                                          <p>{{i?.info}}</p>
                                      </div>
                                      <!-- footer -->
                                      <div class="footer clearfix">
                                          <div class="col-md-3 col-sm-3 col-xs-3">
                                              <div class="price">
                                                      {{i?.price}}
                                              </div>
                                          </div>
                                          <!-- <div class="col-md-3 col-sm-3 col-xs-3">
                                              <div class="date">
                                                  jun 30, 2016
                                              </div>
                                          </div> -->
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                              <div class="listing-meta ">
                                                  <span>
                                                      <button  data-toggle="modal" data-target="#edit" (click)="edit1(i?.propId)"><i class="fa fa-pencil"></i>Edit</button>
                                                          
                                                  </span>
                                                  <span>
                                                      <input type="button" value="Activate/Deactivate" data-toggle="modal" data-target="#delete" (click)="delete1(i?.propId)">
                                                    </span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>    
                                  </div>

                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
                              
  <div [hidden]="!submitted">
    <h5> Update Successfully</h5>
  </div>
  
  <div [hidden]="!deleted">
    <h5> Delete Successfully</h5>
  </div>
  
  <div *ngIf="a==1">
    <div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Edit Details</h3>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
              <div class="form-group">
                    <label>Property Name:</label>
                    <input type="text"  name="title" class="form-control" [(ngModel)]="iproperty1.title" pattern="[a-zA-Z_ ]*$" #title="ngModel" required ngModel><br>
                    <span class="validate" *ngIf="title.errors && (title.touched || title.dirty)">
                        <span class="msgs" *ngIf="title.errors.required && title.touched">Field required</span>
                        <span class="msgs" *ngIf="title.errors.pattern && (title.errors.required || title.touched)">
                            Property title must have only alphabets
                        </span>
                    </span> 
              </div>
              <div class="form-group">
                    <label>Property Status:</label>
                    <select class="form-control" name="propStatus" required [(ngModel)]="iproperty1.propStatus">
                        <option value="" selected>-- select an option --</option>
                        <option value="sale">For Sale</option>
                         <option value="rent">For Rent</option>
                    </select>
              </div>
              <div class="form-group">
                  <label>Type:</label>
                  <select class="form-control" name="type" required [(ngModel)]="iproperty1.type">
                        <option value="" selected>-- select an option --</option> 
                        <option value="Commercial">Commercial</option>
                        
                        <option value="Commercial">Commercial place</option>
                        
                        <option value="Office space">Office space</option>
                        <option value="Meeting space">Meeting space</option>
                </select>
            </div>
              <div class="form-group">
                    <label>Price:</label>
                    <input type="text" name="price" class="form-control mobileNo" [(ngModel)]="iproperty1.price" pattern="^[0-9]*$" #price="ngModel" required><br>
                    <span class="validate" *ngIf="price.errors && (price.touched || price.dirty)">
                        <span class="msgs" *ngIf="price.errors.required && price.touched">Field required</span>
                        <span class="msgs" *ngIf="price.errors.pattern && (price.errors.required || price.touched)">
                            Price must have only digits
                        </span>
                    </span> 
              </div>
              <div class="form-group">
                    <label>Area(in sqft):</label>
                    <input type="text" name="area" class="form-control mobileNo" [(ngModel)]="iproperty1.area" pattern="^[0-9]*$" 
                    #area="ngModel" required><br>
                    <span class="validate" *ngIf="area.errors && (area.touched || area.dirty)">
                        <span class="msgs" *ngIf="area.errors.required && area.touched">Field required</span>
                        <span class="msgs" *ngIf="area.errors.pattern && (area.errors.required || area.touched)">
                             Area must be in digits
                        </span>
                    </span> 
              </div>
              <div class="form-group">
                  <label>Super area(in sqft):</label>
                  <input type="text" name="super" class="form-control mobileNo" [(ngModel)]="iproperty1.super" pattern="^[0-9]*$" #super="ngModel" required><br>
                  <span class="validate" *ngIf="super.errors && (super.touched || super.dirty)">
                <span class="msgs" *ngIf="super.error.required && super.touched">Field required</span>
                <span class="msgs" *ngIf="super.error.pattern && (super.error.required || super.touched)"></span>     
                Super must be in digits 
                </span> 

              </div>

              <div class="form-group">
                    <label>Carpet area(in sqft):</label>
                    <input type="text" name="super" class="form-control mobileNo" [(ngModel)]="iproperty1.carpet" pattern="^[0-9]*$" #carpet="ngModel" required><br>
                    <span class="validate" *ngIf="carpet.errors && (carpet.touched || carpet.dirty)">
                  <span class="msgs" *ngIf="carpet.error.required && carpet.touched">Field required</span>
                  <span class="msgs" *ngIf="carpet.error.pattern && (carpet.error.required || carpet.touched)"></span>     
                  Super must be in digits 
                  </span> 
  
                </div>
              <!-- <div class="form-group">
                    <label>Address:</label>
                    <input type="text" name="address" class="form-control" [(ngModel)]="iproperty1.address" required><br>
              </div> -->
              <div class="form-group">
                    <label>Location:</label>
                    <input type="text" name="location" class="form-control alpha_bet" [(ngModel)]="iproperty1.location" required><br>
              </div>
              <!-- <div class="form-group">
                    <label>Postal Code:</label>
                    <input type="text" name="postalcode" class="form-control mobileNo" [(ngModel)]="iproperty1.postalcode" pattern="^[0-9]*$" required #postalcode="ngModel"><br>
                    <span class="validate" *ngIf="postalcode.errors && (postalcode.touched || postalcode.dirty)">
                    <span class="msgs" *ngIf="postalcode.errors.required && postalcode.touched">
                        Field Required</span>

                     <span class="msgs" *ngIf="postalcode.errors.pattern && (postalcode.errors.required
                      || postalcode.touched)">
                         Only numbers</span>
                        </span>
              </div> -->
              <!-- <div class="form-group">
                  <label>City:</label>
                  <select class="form-control" name="city" required [(ngModel)]="iproperty1.city">
                        <option value="" selected>-- select an option --</option>
                        <option>New Delhi</option>
                        <option>Gurgaon</option>
                        <option>Noida</option>
                        <option>Faridabad</option>
                        <option>Ghaziabad</option>
                        <option>South Delhi</option>
                    </select>
            </div>
            <div class="form-group">
                  <label>State:</label>
                  <select class="form-control" name="state" required [(ngModel)]="iproperty1.state">
                        <option value="" selected>-- select an option --</option>
                        <option>Delhi</option>
                        <option>NCR</option>
                        
                        
                    </select>
            </div> -->
            <div class="form-group">
                <label>Details:</label>
                <input type="text" name="info" class="form-control" [(ngModel)]="iproperty1.info" required><br>
          </div>



 <div [hidden]="!display">
            <!-- <div class="form-group">
                  <label>Building Age:</label>
                  <select class="form-control" name="buildingage" [(ngModel)]="iproperty1.buildingage">
                        <option value="" selected>-- select an option --</option>
                        <option>0-1 Years</option>
                        <option>2-5 Years</option>
                        <option>6-10 Years</option>
                        <option>11-20 Years</option>
                        <option>21-40 Years</option>
                        <option>40+Years</option>
                    </select>
            </div> -->
            <div class="form-group">
                <label>Floor/Number of Floor:</label>
                <select class="form-control" name="floor" required [(ngModel)]="iproperty1.floor">
                            <option value="" selected>-- select an option --</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                  </select>
          </div><div class="form-group">
            <label>Parking:</label>
            <select class="form-control" name="noofparking" required [(ngModel)]="iproperty1.noofparking">
                        <option value="" selected>-- select an option --</option>
                  <option>Stilt 4-wheeler</option>
                  <option>Stilt 2-wheeler</option>
                  <option>Outside 4-wheeler</option>
                  <option>Outside 2-wheeler</option>
                  <option>Not Available</option>
              </select>
      </div>
      <div class="form-group">
            <label>Furnished:</label>
            <select class="form-control" name="furnished" required [(ngModel)]="iproperty1.furnished">
                  <option value="" selected>-- select an option --</option>
                  <option>Fully Furnished</option>
                  <option>Semi Furnished</option>
                  <option>Not Furnished</option>
              </select>
      </div>
      <!-- <div class="form-group">
            <label>View:</label>
            <select class="form-control"  name="view" required [(ngModel)]="iproperty1.view">
                        <option value="" selected>-- select an option --</option>
                  <option>None</option>
                  <option>Shermukha</option>
                  <option>Gaumukha</option>
                  
              </select>
      </div> -->
      <!-- <div class="form-group">
        <label>Bedroom:</label>
        <select class="form-control" name="rooms" required [(ngModel)]="iproperty1.rooms">
            <option value="" selected>-- select an option --</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
  </div> -->
  <div class="form-group">
        <label>Bathroom:</label>
        <select class="form-control" name="bathroom" required [(ngModel)]="iproperty1.bathroom">
            <option value="" selected>-- select an option --</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
  </div>
        <div class="form-group">
              <label>Free Parking:</label>
              <select class="form-control"  name="parking" required [(ngModel)]="iproperty1.parking">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div>
        <div class="form-group">
              <label>Air Conditioner:</label>
              <select class="form-control"  name="ac" required [(ngModel)]="iproperty1.ac">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div>
        <!-- <div class="form-group">
              <label>Balcony:</label>
              <select class="form-control"  name="balcony" required [(ngModel)]="iproperty1.balcony">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div> -->
        <!-- <div class="form-group">
              <label>Swimming Pool:</label>
              <select class="form-control"  name="pool" required [(ngModel)]="iproperty1.pool">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div> -->
        <!-- <div class="form-group">
              <label>Laundry Room:</label>
              <select class="form-control"  name="laundry" required [(ngModel)]="iproperty1.laundry">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div> -->
        <div class="form-group">
              <label>Storage Room:</label>
              <select class="form-control"  name="storage" required [(ngModel)]="iproperty1.storage">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div>
        <div class="form-group">
              <label>Gaspipe:</label>
              <select class="form-control"  name="gaspipe" required [(ngModel)]="iproperty1.gaspipe">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div>
        <div class="form-group">
              <label>Alarm:</label>
              <select class="form-control"  name="alarm" required [(ngModel)]="iproperty1.alarm">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div>
        <!-- <div class="form-group">
              <label>Pooja Room:</label>
              <select class="form-control"  name="pooja" required [(ngModel)]="iproperty1.pooja">
                        <option value="" selected>-- select an option --</option>
                  <option>True</option>
                  <option>False</option>   
              </select>
        </div> -->

</div>




             
              
            
              <div class="form-group">
                    <label>Owner's name:</label>
                    <input type="text" name="name" class="form-control alpha_bet" [(ngModel)]="iproperty1.name" #name="ngModel" 
                    required pattern="[a-zA-Z_ ]*$"><br>
                    <span class="validate" *ngIf="name.errors && (name.touched || name.dirty)">
                        <span class="msgs" *ngIf="name.errors.required && name.touched">Field required</span>
                        <span class="msgs" *ngIf="name.errors.pattern && (name.errors.required || name.touched)">
                             Invalid Name
                        </span>
                    </span> 
              </div>
              <div class="form-group">
                    <label>Owner's email:</label>
                    <input type="text" name="email" class="form-control" [(ngModel)]="iproperty1.email" #email="ngModel"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required ngModel><br>
                    <span class="validate" *ngIf="email.errors && (email.touched || email.dirty)">
                        <span class="msgs" *ngIf="email.errors.required && email.touched">
                            Field Required</span>
                         <span class="msgs" *ngIf="email.errors.pattern && (email.errors.required || email.touched)">
                             Invalid Email</span>
                     </span>

              </div>
              <div class="form-group">
                    <label>Owner's phone:</label>
                    <input type="text" name="phone" class="form-control mobileNo" [(ngModel)]="iproperty1.phone" #phone="ngModel"
                    required pattern="[0-9]*$"><br>
                    <span class="validate" *ngIf="phone.errors && (phone.touched || phone.dirty)">
                        <span class="msgs" *ngIf="phone.errors.required && phone.touched">Field required</span>
                        <span class="msgs" *ngIf="phone.errors.pattern && (phone.errors.required || phone.touched)">
                             Invalid Phone number
                        </span>
                    </span> 
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="edit(f.value)" >Submit</button>
          </form> 
        </div>
      </div>
  </div>
  </div>
  </div>
  
  <div id="delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4> Are you sure?</h4>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="yes" (click)="delete(id)"> Yes </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="no">No </button>
        </div>
      </div>
    </div>
  </div>
  
  